################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Foodie/FileContentIndex/3450e7bc-841a-44ba-9db7-7f7c8c21f7cb.vsidx
/.vs/Foodie/FileContentIndex/11a84d7f-7ca7-44aa-8850-58d9742b83d8.vsidx
/.vs/Foodie/FileContentIndex/11a84d7f-7ca7-44aa-8850-58d9742b83d8.vsidx
